<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../public/assets/waitConnect.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
      integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay"
      crossorigin="anonymous"
    />
    <title>Connect to micro</title>
  </head>
  <body>
    <div class="spacer"></div>
    <div class="spacer div-btn">
      <!--<button id="btn"><i class="fas fa-link fa-5x" style=" color: #252525"></i></button>--> 
      <h1>WAITING FOR CONNECTION TO MICROSCOPE</h1>
    </div>
    <div class="spacer"></div>
  </body>
  <script src="../public/codeBehind/waitConnectUI.js"></script>
</html>
