<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Prism touchbar</title>
    <link rel="stylesheet" href="../public/assets/mainUI.css" />
    <!-- to add lock icon -->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
      integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <div id="col-0" class="col">
      <!--start button-->
      <div id="start-sector" class="sector">
        <div class="div-action-buttons">
          <button id="live-btn" class="mode-btn"><i class="fas fa-infinity fa-lg"></i></button>
          <button id="capture-btn" class="mode-btn"><i class="fas fa-camera fa-lg"></i></button>
          <button id="stack-btn" class="mode-btn"><i class="fas fa-layer-group fa-lg"></i></button>
        </div>
      </div>
      <!--parameter selector-->
      <div id="param-box" class="sector">
        <div id="preset-row" class="param-row">
          <select id="preset-selector"></select>
          <button id="add-preset-btn">+</button>
        </div>
        <!--top parameters labels-->
        <div class="top-param-label-row">
          <div class="top-param-label-spacer"></div>
          <label class="top-param-label">x</label>
          <label class="top-param-label">y</label>
          <label class="top-param-label">z</label>
        </div>
        <!--disable input fields to not to trigger mobile/tablet keyboard-->
        <!-- offset-->
        <div class="param-row">
          <label class="left-param-label"> offset </label>
          <input id="scanParams-offset-x" type="text" class="param-input" disabled />
          <input id="scanParams-offset-y" type="text" class="param-input" disabled />
          <input id="scanParams-offset-z" type="text" class="param-input" disabled />
        </div>
        <!-- pixel number-->
        <div class="param-row">
          <label class="left-param-label"># pixel</label>
          <input id="scanParams-pixelNumber-x" type="text" class="param-input" disabled />
          <input id="scanParams-pixelNumber-y" type="text" class="param-input" disabled />
          <input id="scanParams-pixelNumber-z" type="text" class="param-input" disabled />
        </div>
        <!-- range-->
        <div class="param-row">
          <label class="left-param-label">range</label>
          <input id="scanParams-range-x" type="text" class="param-input" disabled />
          <input id="scanParams-range-y" type="text" class="param-input" disabled />
          <input id="scanParams-range-z" type="text" class="param-input" disabled />
        </div>
        <!-- pixel size-->
        <div class="param-row">
          <label class="left-param-label ">px-size</label>
          <input id="scanParams-pixelSize-x" type="text" class="param-input grayed-out" disabled />
          <input id="scanParams-pixelSize-y" type="text" class="param-input grayed-out" disabled />
          <input id="scanParams-pixelSize-z" type="text" class="param-input grayed-out" disabled />
        </div>
        <!-- time parameters-->
        <div class="param-row">
          <label class="left-param-label">dwell time</label>
          <input id="scanParams-dwellTime" type="number" class="param-input" disabled />
          <label class="left-param-label">total time</label>
          <input id="scanParams-totalTime" type="number" class="param-input grayed-out" disabled />
        </div>
      </div>
    </div>
    <div id="col-1" class="col">
      <!--sliders-->
      <div id="sliders-box" class="sector">
        <!--slider 0-->
        <div id="slider-row-0" class="slider-row">
          <div class="slider-labels">
            <label id="laser-type-0" class="laser-type"></label>
            <label id="laser-power-0" class="laser-power"></label>
          </div>
          <input id="slider-0" class="slider" type="range" min="0" max="100" step="5" value="0" />
          <div class="div-laser-on-off-btn">
            <button id="laser-on-off-btn-0" class="laser-on-off-btn">
              <i class="fa fa-power-off "></i>
            </button>
          </div>
        </div>
        <!--slider 1-->
        <div id="slider-row-1" class="slider-row">
          <div class="slider-labels">
            <label id="laser-type-1" class="laser-type"></label>
            <label id="laser-power-1" class="laser-power"></label>
          </div>
          <input id="slider-1" class="slider" type="range" min="0" max="100" step="5" value="0" />
          <div class="div-laser-on-off-btn">
            <button id="laser-on-off-btn-1" class="laser-on-off-btn">
              <i class="fa fa-power-off"></i>
            </button>
          </div>
        </div>
        <!--slider 2-->
        <div id="slider-row-2" class="slider-row">
          <div class="slider-labels">
            <label id="laser-type-2" class="laser-type"></label>
            <label id="laser-power-2" class="laser-power"></label>
          </div>
          <input id="slider-2" class="slider" type="range" min="0" max="100" step="5" value="0" />
          <div class="div-laser-on-off-btn">
            <button id="laser-on-off-btn-2" class="laser-on-off-btn">
              <i class="fa fa-power-off"></i>
            </button>
          </div>
        </div>
        <!--slider 3-->
        <div id="slider-row-3" class="slider-row">
          <div class="slider-labels">
            <label id="laser-type-3" class="laser-type"></label>
            <label id="laser-power-3" class="laser-power"></label>
          </div>
          <input id="slider-3" class="slider" type="range" min="0" max="100" step="5" value="0" />
          <div class="div-laser-on-off-btn">
            <button id="laser-on-off-btn-3" class="laser-on-off-btn">
              <i class="fa fa-power-off"></i>
            </button>
          </div>
        </div>
      </div>
      <!--numpad-->
      <div id="numpad" class="sector">
        <div class="numpad-row">
          <button id="btn7" class="numpad-btn">7</button>
          <button id="btn8" class="numpad-btn">8</button>
          <button id="btn9" class="numpad-btn">9</button>
        </div>
        <div class="numpad-row">
          <button id="btn4" class="numpad-btn">4</button>
          <button id="btn5" class="numpad-btn">5</button>
          <button id="btn6" class="numpad-btn">6</button>
        </div>
        <div class="numpad-row">
          <button id="btn1" class="numpad-btn">1</button>
          <button id="btn2" class="numpad-btn">2</button>
          <button id="btn3" class="numpad-btn">3</button>
        </div>
        <div class="numpad-row">
          <button id="btn0" class="numpad-btn">0</button>
          <button id="btnDot" class="numpad-btn">.</button>
          <button id="btnDel" class="numpad-btn"><i class="fas fa-backspace fa-lg"></i></button>
        </div>
      </div>
    </div>
    <div id="col-2" class="col">
      <!-- sample area-->
      <div id="border-square">
        <div id="total-area">
          <div id="scan-area" class="inspect-area"></div>
        </div>
      </div>
      <!-- joystick area-->
      <div id="joystick-pad" class="sector">
        <div id="joystick-thumb" class=""></div>
      </div>
    </div>
    <div id="col-3" class="col">
      <div id="z-slider">
        <div id="z-thumb" class="thumb"></div>
      </div>
      <button id="z-sens-btn">0.1x</button>
    </div>

    <script src="../public/codeBehind/mainUI.js"></script>
  </body>
</html>
